img {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    margin-bottom:20px;
}

img:hover {
  filter: none; /* IE6-9 */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
 }
body {
	background-color:black;
}

#poor {
	background-image:url("../images/poor.gif");
	background-size: 100% 100%;
}

#rich {
	background-image:url("../images/rich.gif");
	background-size: 100% 100%;
}

#poor, #rich {
	height:400px;
}

#row2, #row5, #row6, #row10 {
	height:50px;
}

#walk {
	background-image:url("../images/walk.gif");
	background-size: 100% 100%;
}

#drive {
	background-image:url("../images/drive.gif");
	background-size: 100% 100%;
}

#deliver {
	background-image:url("../images/delivery.gif");
	background-size: 100% 100%;
}

#walk, #drive, #deliver {
	height:300px;
}
